## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,hermanus,ZA,2021-11-29 21:57:18,-34.4187,19.2345,61.90,76,44,9.17,scattered clouds,0.0,0
1,1,leningradskiy,RU,2021-11-29 21:59:27,69.3833,178.4167,-21.53,95,63,8.86,broken clouds,0.0,0
2,2,lucapa,AO,2021-11-29 21:59:27,-8.4192,20.7447,65.16,97,98,1.88,overcast clouds,0.0,0
3,3,kapaa,US,2021-11-29 21:59:28,22.0752,-159.3190,84.18,67,9,7.00,clear sky,0.0,0
4,4,mar del plata,AR,2021-11-29 21:54:53,-38.0023,-57.5575,62.62,91,75,14.00,broken clouds,0.0,0

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 100

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
2,2,lucapa,AO,2021-11-29 21:59:27,-8.4192,20.7447,65.16,97,98,1.88,overcast clouds,0.0,0
3,3,kapaa,US,2021-11-29 21:59:28,22.0752,-159.3190,84.18,67,9,7.00,clear sky,0.0,0
5,5,umm lajj,SA,2021-11-29 21:59:29,25.0213,37.2685,84.07,33,0,8.14,clear sky,0.0,0
6,6,rikitea,PF,2021-11-29 21:59:30,-23.1203,-134.9692,76.57,74,2,21.68,clear sky,0.0,0
10,10,acari,PE,2021-11-29 21:59:32,-15.4311,-74.6158,73.85,61,28,8.14,scattered clouds,0.0,0
11,11,bambous virieux,MU,2021-11-29 21:59:32,-20.3428,57.7575,74.21,83,20,4.61,few clouds,0.0,0
13,13,vaini,TO,2021-11-29 21:59:33,-21.2000,-175.2000,82.56,69,20,10.36,few clouds,0.0,0
14,14,port lincoln,AU,2021-11-29 21:59:34,-34.7333,135.8667,72.00,46,78,9.26,broken clouds,0.0,0
15,15,ahipara,NZ,2021-11-29 21:59:34,-35.1667,173.1667,69.71,61,15,5.44,few clouds,0.0,0
17,17,port alfred,ZA,2021-11-29 21:59:35,-33.5906,26.8910,68.07,88,89,7.54,overcast clouds,0.0,0

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                     329
City                        329
Country                     329
Date                        329
Lat                         329
Lng                         329
Max Temp                    329
Humidity                    329
Cloudiness                  329
Wind Speed                  329
Current Description         329
Rain inches (last 3 hrs)    329
Snow inches (last 3 hrs)    329
dtype: int64

In [24]:
preferred_cities_df.isnull().sum()

City_ID                     0
City                        0
Country                     0
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [25]:
preferred_cities_df.notnull().sum()

City_ID                     329
City                        329
Country                     329
Date                        329
Lat                         329
Lng                         329
Max Temp                    329
Humidity                    329
Cloudiness                  329
Wind Speed                  329
Current Description         329
Rain inches (last 3 hrs)    329
Snow inches (last 3 hrs)    329
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df.count()

City_ID                     329
City                        329
Country                     329
Date                        329
Lat                         329
Lng                         329
Max Temp                    329
Humidity                    329
Cloudiness                  329
Wind Speed                  329
Current Description         329
Rain inches (last 3 hrs)    329
Snow inches (last 3 hrs)    329
dtype: int64

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,lucapa,AO,65.16,overcast clouds,-8.4192,20.7447,
3,kapaa,US,84.18,clear sky,22.0752,-159.3190,
5,umm lajj,SA,84.07,clear sky,25.0213,37.2685,
6,rikitea,PF,76.57,clear sky,-23.1203,-134.9692,
10,acari,PE,73.85,scattered clouds,-15.4311,-74.6158,
11,bambous virieux,MU,74.21,few clouds,-20.3428,57.7575,
13,vaini,TO,82.56,few clouds,-21.2000,-175.2000,
14,port lincoln,AU,72.00,broken clouds,-34.7333,135.8667,
15,ahipara,NZ,69.71,few clouds,-35.1667,173.1667,
17,port alfred,ZA,68.07,overcast clouds,-33.5906,26.8910,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,lucapa,AO,65.16,overcast clouds,-8.4192,20.7447,Residência Ulisses Dos Santos
3,kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,umm lajj,SA,84.07,clear sky,25.0213,37.2685,Moon light Furnished Units
6,rikitea,PF,76.57,clear sky,-23.1203,-134.9692,People ThankYou
10,acari,PE,73.85,scattered clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA
...,...,...,...,...,...,...,...
667,olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
670,ambilobe,MG,74.35,scattered clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
671,ayorou,NE,80.13,overcast clouds,14.7308,0.9174,Hotel Amenokal
672,labuan,MY,73.56,light rain,5.2767,115.2417,Tiara Labuan Hotel
675,bellavista,PE,83.48,overcast clouds,-7.0561,-76.5911,Hospedaje Bella Durmiente

In [34]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df = clean_hotel_df.replace(r'^s*$', float('NaN'), regex = True) 
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,lucapa,AO,65.16,overcast clouds,-8.4192,20.7447,Residência Ulisses Dos Santos
3,kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,umm lajj,SA,84.07,clear sky,25.0213,37.2685,Moon light Furnished Units
6,rikitea,PF,76.57,clear sky,-23.1203,-134.9692,People ThankYou
10,acari,PE,73.85,scattered clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA
...,...,...,...,...,...,...,...
667,olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
670,ambilobe,MG,74.35,scattered clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
671,ayorou,NE,80.13,overcast clouds,14.7308,0.9174,Hotel Amenokal
672,labuan,MY,73.56,light rain,5.2767,115.2417,Tiara Labuan Hotel
675,bellavista,PE,83.48,overcast clouds,-7.0561,-76.5911,Hospedaje Bella Durmiente

In [35]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))